<section id="m-sec">
<div class="tb-div">
  <table class="content-table">
    <thead>
      <tr class="up">
        <th>crew_capacity</th>
        <th>diameter</th>
        <th>first_flight</th>
        <th>name</th>
        <th>height_w_trunk</th>
        <th>residewall</th>
        <th>Type</th>
        <th>active</th>
      </tr>
    </thead>
    <tbody>
      <tr class="ff">
        <td>{{Data.crew_capacity}}</td>
        <td>{{Data.diameter.feet}}</td>
        <td>{{Data.first_flight}}</td>
        <td>{{Data.name}}</td>
        <td>{{Data.height_w_trunk.meters}}</td>
        <td>{{Data.heat_shield.size_meters}}</td>
        <td>{{Data.type}}</td>
        <td>{{Data.active}}</td>
      </tr>
    </tbody>
  </table>
</div>
</section>